/* особенности  section class="feature-group"*/
  
.feature{
    // padding-top: 94px;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    }
    
}
.group__icon{
   width: 70px;
   height: 70px;
}
.group{
   display: inline-flex; 
   justify-content: center;
   align-items: center; 
   width: 100%;
   height: 120px;
   background: $group-bgr;
    border-radius: 4px;
    margin-bottom: 30px;
} 
.feature__columns{
//    display: flex;
     margin-bottom: -30px;    
     @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
      }
   .feature__item {
       width: 100%;
       margin-bottom: 30px;

       @media screen and (min-width: 768px) {
           flex-basis: calc((100% - 60px) / 2);
           margin-left: 30px;           
       }
       @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 120px) / 4);       
    }
}
//    .feature__item:not(:last-child){
//      margin-right: 30px;
    
//    }  
}
.feature__title{
    font-weight: $font-weight-bold;
    font-size: $font-size-text;
    text-align: center;
    line-height: 1.172;
    letter-spacing: $letter-spacing-text;
    text-transform: uppercase;
    color: $main-color-headers;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        text-align: left;
    
}
}
.feature__text{
    width: 100%;
    font-weight: normal;
    font-size: $font-size-text;
    line-height: 1.714; 
    letter-spacing: $letter-spacing-text; 
}